{% extends 'base.html' %}
{% load static %}

{% block custom_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom_style.css' %}">
{% endblock %}



{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <div id="home-content">
                <h1>Pollme - Get started</h1>
                <h3>Your voice matters a lot</h3>
                <hr>
                <button type="button" class="btn btn-light btn-lg">Get Started</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}